* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#logo {
    margin: 12px 29px;
}

#logo img {
    height: 53px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex;   
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 375px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('/img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.h-primary {
    font-size: 3.4rem;
    padding: 12px;
}