@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Castoro:ital@1&display=swap');
/* font-family: 'Castoro', serif; */

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 59px;
}

#logo {
    margin: 12px 29px;
}

#logo img {

    height: 53px;
    margin: 3px 6px;
}

#navbar {
    display: flex; 
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar ul {
    display: flex; 
    font-family: 'Castoro', serif;  
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 436px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('/img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 74%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */

#services-container{
    margin-top: 28px;
}
#services {
    margin-top: 13px;
    display: flex;    
} 

#services .box{
    border: 3px solid brown;
    padding: 32px;
    margin: 3px 30px;
    margin-bottom: 53px;
    border-radius: 28px;
    background: #f2f2f2;
}

#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}

#client-section {
    position: relative;
}

#client-section::before {
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   background: url('img/bg2.jpg');
   z-index: -1;
   opacity: 0.7;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-image {
    height: 124px;
}

.client-item {
    padding: 34px;
}


/* contact us */

#contact {
    position: relative;
}

#contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.24;
    background: url('img/contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;  
}
#contact-box label {
    font-size: 1.5rem; 
    font-family: 'Bree Serif', serif; 
}
footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utililty Classes */

.h-primary {
    font-size: 3.4rem;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2.4rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(233, 41, 41);
    color:white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 9px;
    cursor: pointer;
}

.center{
    text-align: center;
}