@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Castoro:ital@1&display=swap');
/* font-family: 'Castoro', serif; */

* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#logo {
    margin: 12px 29px;
}

#logo img {
    height: 53px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex; 
    font-family: 'Castoro', serif;  
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 770px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('/img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */

#services {
    margin-top: 114px;
    display: flex;    
} 
 
#services .box{
    border: 3px solid brown;
}

#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}


/* Utililty Classes */

.h-primary {
    font-size: 3.4rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.4rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(233, 41, 41);
    color:white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 9px;
    cursor: pointer;
}

.center{
    text-align: center;
}